#gamesboard-container{
    width: 100%;
    display: flex; /** flexbox module type makes it easier to structure pages**/
    justify-content: center; /**spaces items within the container, i.e. the two game boards **/
}

.game-board{ /** defining the size of the 10x10 game boards.**/
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin;
    background-color: hsl(200, 100%, 50%);
}

.block { /** stylising the divs on the boards as 1x1 sqaures**/
    width: 40px;
    height: 40px;
    border: solid 1px hsla(0, 0%, 100%, .2);
    box-sizing: border-box;
}

.option-container{
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.destroyer{ /*colour class for destroyer*/
    background-color: brown;
}
.submarine{ 
    background-color: green;
}
.cruiser{
    background-color: purple;
}
.carrier{
    background-color: blue;
}
.battleship{
    background-color: orange;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}
.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: grey;
}

/** if div with class of destroyer is in element with id of "computer"**/
#computer .destroyer,
/** and if div with class of submarine is in element with id of "computer"**/
#computer .submarine,
/** and if div with class of cruiser is in element with id of "computer"**/
#computer .cruiser,
/** and if div with class of battleship is in element with id of "computer"**/
#computer .battleship,
/** and if div with class of carrier is in element with id of "computer"**/
#computer .carrier {
    background-color: yellow; /** then make BG color pink**/
}

.boom{
    background-color: red !important;
}
/** "!important" overrides the previous BG color statement and makes it red**/
.empty{
    background-color: grey !important;/** !important overrides**/
}

